/*body*/
html,
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

body,td,th,p {
    font-size: 10pt;
	color: #333;
	line-height: 1.5;
}

#maincontent {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: #f3f3f3;
    min-height: 100%;
}

.inside header {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
}

#breadcrumb {
  padding: 10px 40px 16px;
  list-style: none;
  background-color: #eee;
  font-size: 17px;
  margin: 0;
  width: 100%;
  top: 70px;
  position: fixed;
}

/* Display list items side by side */
#breadcrumb li {
  display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

/*map*/


#map-container {
  width: 100%;
}
#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
}


/*header*/

header{
    display: block;
}

nav {
    width: 100%;
    height: 70px;
    background-color: #252831;
    text-align:center;
  }

h1 {
    margin: 0;
}

a {
    color: orange;
    text-decoration: none;
}

a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}

a img{
	border: none 0px #fff;
}

ul, li {
    font-size: 10pt;
	color: #333;
}




.filter-options {
  width: 100%;
  height: 50px;
  background-color: #252831;
/*   align-items: center;
 */}
.filter-options h2 {
  color: white;
  font-size: 14pt;
  font-weight: 100;
  letter-spacing: 2px;
  line-height: 1;
  margin: 0 20px;
  display: inline;
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 200px;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 30px 15px 60px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#restaurants-list li {
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial,sans-serif;
  margin: 15px;
  min-height: 380px;
  padding: 0 30px 25px;
  text-align: left;
  width: 270px;
}
#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
  min-height: 248px;
  min-width: 100%;
}
#restaurants-list li h1 {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}
#restaurants-list p {
  margin: 0;
  font-size: 11pt;
}
#restaurants-list li a {
  background-color: orange;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 10pt;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

#footer {
  background-color: #444;
  color: #aaa;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}

nav h1 {
    margin: auto;
  }
  nav h1 a {
    color: #fff;
    font-size: 20pt;
    font-weight: 500;
    letter-spacing: 5px;
    text-transform: uppercase;
  }

  .inside #map-container {
    background: blue none repeat scroll 0 0;
    height: 87%;
    position: fixed;
    top: 70px;
    width: 50%;
    right: 0; 
    
  }
  .inside #map {
    background-color: #ccc;
    height: 100%;
    width: 100%;
  }

  #restaurant-name {
    color: #f18200;
    font-family: Arial,sans-serif;
    font-size: 20pt;
    font-weight: 200;
    letter-spacing: 0;
    margin: 15px 0 30px;
    text-transform: uppercase;
    line-height: 1.1;
  }
  #restaurant-img {
    width: 85%;
  }
  #restaurant-address {
    font-size: 12pt;
    margin: 10px 0px;
  }
  #restaurant-cuisine {
    background-color: #333;
    color: #ddd;
    font-size: 12pt;
    font-weight: 300;
    letter-spacing: 10px;
    margin: 0 0 20px;
    padding: 2px 0;
    text-align: center;
    text-transform: uppercase;
    width: 85%;
  }
  #restaurant-container, #reviews-container {
    border-bottom: 1px solid #d9d9d9;
    border-top: 1px solid #fff;
    padding: 140px 40px 30px;
    width: 50%;
  }
  #reviews-container {
    padding: 30px 40px 80px;
  }
  #reviews-container h2 {
    color: #f58500;
    font-size: 24pt;
    font-weight: 300;
    letter-spacing: -1px;
    padding-bottom: 1pt;
  }
  #reviews-list {
    margin: 0;
    padding: 0;
    width: 90%;
  }
  #reviews-list li {
    background-color: #fff;
    border: 2px solid #f3f3f3;
    display: block;
    list-style-type: none;
    margin: 0 0 30px;
    overflow: hidden;
    padding: 0 20px 20px;
    /* position: relative; */
    width: 85%;
  }
  #reviews-list li p {
  
    margin: 0 0 10px;
  }
  #restaurant-hours td {
    color: #666;
  }

  #reviews-list li {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    -webkit-box-shadow: 10px 10px 5px -6px rgba(199,197,199,1);
    -moz-box-shadow: 10px 10px 5px -6px rgba(199,197,199,1);
    box-shadow: 10px 10px 5px -6px rgba(199,197,199,1);
  }
  #reviews-list p:nth-child(1),
  p:nth-child(2) {
    width: 50%;
    font-weight: 600;
  }
  
  #reviews-list p:nth-child(2) {
    text-align: right;
  }

  #reviews-list p:nth-child(3) {
    font-weight: 600;
  }

  .restaurants {
    width: 100%;
  }
  

  @media screen and (max-width: 768px) {
  
    .inside header  {
      width: 100%;
      position: static;
    }
    .inside #breadcrumb {
      width: 100%;
      position: static;
      padding: 10px 0 16px;
    }
    .inside #breadcrumb li:nth-of-type(1) {
      padding-left: 40px;
    }
    .inside #maincontent {
      width: 100%;
      position: relative;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }
    .inside #map-container {
      width: 100%;
      height: 300px;
      position: static;
  
    }
     #restaurant-container {
       padding-top: 40px;
       width: 100%;
       display: flex;
       flex-wrap: wrap;
     }
     #restaurant-img {
       width: 100%;
       height: 50%;
     }
     #restaurant-cuisine {
       width: 100%;
     }
     #restaurant-address {
       width: 100%;
       font-size: 16pt;
     }
     #restaurant-hours {
      width: 50%;
     }
     #reviews-container {
       width: 100%;
     }
     .filter-options h2 {
       margin: 0 5px;
     }
     .filter-options select {
       height: 30px;
       width: 160px;
       font-size: 10pt;
       margin: 10px 3px;
     }
     #restaurants-list li {
       width: 260px;
/*        max-height: 430px;
 */       padding: 0 10px 25px;
     }
  } 
  @media screen and (max-width: 675px) {
    #restaurants-list li {
      width: 250px;
      padding: 0 0 25px;
      border: 1px solid #ccc;
      margin: 3px;
    }
  }
  @media screen and (max-width: 563px) {
    #restaurants-list li {
      border: 2px solid #ccc;
      margin: 15px;
      padding: 0 30px 25px;
      width: 270px;
    }
    .filter-options select {
      width: 145px;
      font-size: 10pt;
    }
    .filter-options h2 {
      font-size: 12pt;
    }
  }
  @media screen and (max-width: 490px) {
    nav h1 a, #restaurant-name {
      font-size: 18pt;
    }

    #restaurant-address {
      font-size: 14pt;
    }

    #restaurant-hours {
      width: 80%;
    }

    #reviews-container {
      padding: 30px 0 80px;
      width: 100%;
    }
    #reviews-container h2 {
      font-size: 18pt;
      padding-left: 25px;
    }

    #reviews-list {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    } 
    #reviews-list li {
      width: 80%;
    }  
  }

  @media screen and (max-width: 458px) {
    .filter-options h2 {
      display: none;
    }
    
  }
  @media screen and (max-width: 390px) {
    nav h1 a {
      font-size: 14pt;
      font-weight: 400px;
      letter-spacing: 4px;
    }
    header {
      height: 50px;
    }
    #restaurant-name {
      font-size: 14pt;
      font-weight: 400;
      letter-spacing: 2px;
    }
    #restaurant-address {
      font-size: 10pt;
    }
    #res  urant-container {
      padding: 0;
    }
    #restaurant-hours {
      width: 100%;
    }
  }